*{
    font-family: 'Abel', sans-serif;
    padding: 0;
    margin: 0;
}


h1, h2, h3, h4, h5, h6{
    font-family: 'Abel', sans-serif;
}

.header.container{
    padding-left: 20px;
}

.navbar{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    margin-bottom: 20px;
}

#logobox{
    width: 100px;
    height: 50px;
    text-decoration: none;
    background-color: transparent;
}

#logobox img{
    width: 100%;
    height: auto;
    background-color: transparent;
}

ul#menu{
    list-style-type: none;
    padding: 0px 30px;
}

ul#menu li a{
    color: white;
    text-decoration: none;
    display: block;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: bold;
}

#general-overlay{
    background-color: rgba(0, 0, 0, 0.5);

}



#ordersection{
    background-color: #ddd;
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
}

#section-padding{
    padding: 30px 10px;
}


#text-burger{
    padding-top: 50px;
    background-color:#ddd;
    text-align: center;
    font-weight: bold;
    font-size: 45px;
}

.card{
    background: white;
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 30px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 4px 4px 4px 4px silver;
}

.card img{
    padding: 10px;
    border-radius: 20px;
    width: 100%;
    height: auto;
}

.card >a{
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.cart-button{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    margin-top: 10px;
}

.span{
    color: green;
    font-weight: bold;
}

.cart a{
    background-color: red;
    color: #fff;
    padding: 12px 12px;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgb(133, 127, 127);
}

.review{
    background-color: #f2efef;
    margin-bottom: 50px;
    padding: 10px;
    box-shadow: 1px 1px 1px 1px black; 
    box-sizing: border-box;
}

#reviewsection{
    background-color: #636161;
    box-sizing: border-box;
}

.text-center{
    text-align: center;
}

.text-white{
    color: white;
    font-size: 45px;
    font-weight: bold;
    padding: 30px 20px;
    font-family: 'Abel', sans-serif

}

.profile-review >img{
    border-radius: 50%;
    box-sizing: border-box;
}

.footersection{
    background-color: #000;
    padding: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    font-weight: bold;
}

.name{
    font-size: 30px;
    font-weight: bold;
}

.quote{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}


@media (max-width: 600px) or (min-width: 600px){
#logobox{
    width: 150px;
    height: 50px;
    margin-bottom: 20px;
    text-decoration: none;
    padding-top: 5px;

}

#logobox img{
    width: 100%;
    height: auto;
}

.bannersection{
    background-image: url("../images/banner-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: white;
}

.overlay{
    padding-bottom: 30px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-left: 20%;
}

.overlay h2{
font-size: 40px;
font-weight: bold;
line-height: 40px;

}

.overlay p{
    font-size: 15px;
    line-height: 20px;

#bannercontent{
    color: white;
    justify-content: center;
    padding: 0px 20px 70x 70px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;

}
}


@media only screen and (min-width: 992px) {
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
}

ul#menu li a{
    color: white;
    display: block;
    font-weight: bold;
    padding: 10px;
}

ul#menu li{
    float: left;
}

.bannersection{
    background-image: url("../images/banner-burger4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;
}

.overlay{
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 130px;
    padding-top: 50px;
    padding-left: 30%;
}


#bannercontent{
    color: white;
    margin-left: 20%;
    margin-right: 30%;
    justify-content: center;
    padding: 50px 50px;
    display:flex ;
    justify-content: center;
}
.overlay h2{
font-size: 65px;
font-weight: bold;
line-height: 60px;
}

.overlay p{
font-size: 28px;
line-height: 30px;
}

.container-fluid{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

}